<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Ale</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><h4>Personal</h4></li>
                                <li class="divider"></li>
                                <li><a href="#">BaconBot</a></li>
                                <li><a href="/bacon.js/">Bacon.js</a></li>
                                <li><a href="#">IdleRPG Shell extension</a></li>
                                <li><h4>Work</h4></li>
                                <li class="divider"></li>
                                <li><a href="#">log4js-logstash</a></li>
                                <li><a href="#">LimitlessGEM</a></li>
                                <li><a href="#">LimitlessHTTP</a></li>
                                <li><a href="#">audiospritler</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
